services:
    PetitPress\GpsMessengerBundle\Transport\GpsTransportFactory:
        arguments:
            $gpsConfigurationResolver: '@PetitPress\GpsMessengerBundle\Transport\GpsConfigurationResolverInterface'
        tags: [messenger.transport_factory]

    PetitPress\GpsMessengerBundle\Transport\GpsConfigurationResolver: ~
    PetitPress\GpsMessengerBundle\Transport\GpsConfigurationResolverInterface: '@PetitPress\GpsMessengerBundle\Transport\GpsConfigurationResolver'