name: GPS Messenger Bundle CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    name: PHP ${{ matrix.php-version }} Sf ${{ matrix.symfony-version }} ${{ matrix.dependencies }}
    runs-on: ubuntu-latest

    env:
      SYMFONY_REQUIRE: ${{ matrix.symfony-version }}

    strategy:
      matrix:
        php-version:
          - 8.4
          - 8.5
        symfony-version:
          - 7.4.*
          - 8.0.*
        dependencies:
          - highest

    steps:
      - name: "Checkout"
        uses: actions/checkout@v4

      - name: "Setup PHP"
        uses: shivammathur/setup-php@v2
        with:
          coverage: pcov
          ini-values: memory_limit=-1, date.timezone=UTC, session.gc_probability=0
          php-version: ${{ matrix.php-version }}
          tools: flex

      - name: Validate composer.json
        run: composer validate

      - name: Install Composer dependencies (${{ matrix.dependencies }})
        uses: ramsey/composer-install@v2
        with:
          dependency-versions: ${{ matrix.dependencies }}

      - name: Run unit tests
        run: vendor/bin/phpunit --coverage-clover coverage.xml

      - name: Check test coverage
        id: test-coverage
        uses: johanvanhelden/gha-clover-test-coverage-check@v1
        with:
          percentage: "85"
          filename: "coverage.xml"

      - name: Run style tests
        run: vendor/bin/ecs check -vv
        
      - name: Run static analyse phpstan
        run: vendor/bin/phpstan analyse --error-format=github
        
      - name: Run static analyse psalm
        run: vendor/bin/psalm --php-version=${{ matrix.php-version }}
